{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="template of MIAAS">
    <meta name="author" content="Hanter Jung">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-origin/css/bootstrap.css' %}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'lib/bootstrap-origin/assets/css/ie10-viewport-bug-workaround.css' %}">

    <script src="{% static 'lib/bootstrap-origin/assets/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container page-container">
    <h2 style="text-align: center;">Intelligence eManual System</h2>
    <div class="row row-boxed">
        <!--div class="col-xs-12">
            <h3 >User Manual Q&A Service</h3>
        </div-->
        <div class="col-xs-12 col-md-3 intro-column">
            <button class="btn btn-default btn-info btn-lg col-xs-12" id="btnConvertMenu" type="button" onclick="showConvert()">CONVERT</button>
            <p>Converting user manual into linguistic elements.</p>
        </div>

        <div class="col-xs-12 col-md-3 intro-column">
            <button class="btn btn-default btn-info btn-lg col-xs-12" id="btnAnalyzeMenu" type="button" onclick="showCluters()">ANALYZE</button>
            <p>Analyzing semantics of sentences using ML.</p>
        </div>

        <div class="col-xs-12 col-md-3 intro-column">
            <button class="btn btn-default btn-info btn-lg col-xs-12" id="btnClustersMenu" type="button" onclick="showCluters()">CLUSTERS</button>
            <p>Displaying analyzed clusters.</p>
        </div>

        <div class="col-xs-12 col-md-3 intro-column">
            <button class="btn btn-default btn-info btn-lg col-xs-12" id="btnInquireMenu" type="button" onclick="showInquire()">ASK ME</button>
            <p>Finding and displaying answers for inquiry.</p>
        </div>
    </div>

    <div class="row row-boxed" id="convertForm" style="border-top-style: none">
        <div class="row" style="border-style: none">
            <div class="container col-xs-12 col-md-12">
                <h4>Enter original sentences.</h4>
                <textarea class="form-control text-area" id="inputOriginSentences" name="inputOriginSentences"
                          placeholder="ex) The vehicle has an electronic shift position indicator within the instrument cluster."
                          rows="8" ></textarea>
            </div>
            <div class="col-xs-12">
                <label >Section # in Manual: </label>
                <input id="inputSection" type="number" min="1" max="99999"
                       class="form-control form-control-inline" style="width: 120px;" />
            </div>
        </div>
        <br/>
        <div class="convertBtnDiv" class="row">
            <button id="btnConvert" class="btn btn-primary btn-lg col-xs-offset-4 col-xs-4">Convert to Tokens and Tags</button>
            <br/><br/><br/>
        </div>

        <div class="row convertedSentencesContainer">
            <div class="container col-xs-12">
                <h4>Convert Result as Language Elements.</h4>
            </div>
            <div class="convertedSentences ex-convertedSentences container col-xs-12">
                <p><b class="sentenceNum">Sentence #0: </b><span class="sentenceText">The vehicle has an electronic shift position indicator within the instrument cluster.</span>&nbsp;&nbsp;<!--button class="btn btn-danger btn-sm">Delete</button--></p>
                <div class="tokenContainer row">
                    <div class="ex-token tokenDiv">
                        <table class="tokenTable">
                            <thead>
                            <tr>
{#                                <th class="td-form" colspan="2"><input type="text" class="inputToken" disabled /></th>#}
                                <th class="td-form" colspan="2"><span class="inputToken"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="td-form"><select class="selectElem" disabled >
                                    <option value="None">-</option>
                                    <option >Subject</option>
                                    <option >Verb</option>
                                    <option >Object</option>
                                    <option >Complement</option>
                                </select></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row convertQueryButtonContainer">
            <div class="col-xs-4"><button id="btnQueryAccept" class="btn btn-primary btn-lg col-xs-12">Accept</button></div>
            <div class="col-xs-4"><button id="btnQueryRefine" class="btn btn-primary btn-lg col-xs-12">Refine</button></div>
            <div class="col-xs-4"><button id="btnQueryClear"  class="btn btn-primary btn-lg col-xs-12">Clear</button></div>
{#            <button id="btnAnswer" class="btn btn-primary btn-lg col-xs-offset-4 col-xs-4">Ask Me</button>#}
        </div>
        <div><br/></div>
    </div>


    <div class="row row-boxed" id="inquireForm" style="border-top-style: none">
        <div class="row" style="border-style: none">
            <div class="container col-xs-12 col-md-12">
                <h4>Enter an inquiry.</h4>
                <textarea class="form-control text-area" id="inquirySentence" name="inquirySentence"
                          placeholder="ex) The engine does not start."
                          rows="3"></textarea>
            </div>
        </div>
        <div class="convertBtnDiv" class="row">
            <button id="btnConvertInquire" class="btn btn-primary btn-lg col-xs-offset-4 col-xs-4">Convert to Tokens and Tags</button>
            <br/><br/><br/><br/>
        </div>

        <div class="row convertedSentencesContainer">
            <div class="container col-xs-12">
                <h4>Convert Result as Language Elements.</h4>
            </div>
            <div class="convertedSentences ex-convertedSentences container col-xs-12">
                <p><b class="sentenceNum">Sentence #0: </b><span class="sentenceText">The vehicle has an electronic shift position indicator within the instrument cluster.</span>&nbsp;&nbsp;<!--button class="btn btn-danger btn-sm">Delete</button--></p>
                <div class="tokenContainer row">
                    <div class="ex-token tokenDiv">
                        <table class="tokenTable">
                            <thead>
                            <tr>
{#                                <th class="td-form" colspan="2"><input type="text" class="inputToken" disabled /></th>#}
                                <th class="td-form" colspan="2"><span class="inputToken"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="td-form"><select class="selectElem" disabled >
                                    <option value="None">-</option>
                                    <option >Subject</option>
                                    <option >Verb</option>
                                    <option >Object</option>
                                    <option >Complement</option>
                                </select></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row answerButtonContainer">
            <div class="col-xs-4"><button id="btnAnswer" class="btn btn-primary btn-lg col-xs-12">Ask</button></div>
            <div class="col-xs-4"><button id="btnInquireRefine" class="btn btn-primary btn-lg col-xs-12">Refine</button></div>
            <div class="col-xs-4"><button id="btnInquireClear"  class="btn btn-primary btn-lg col-xs-12">Clear</button></div>
{#            <button id="btnAnswer" class="btn btn-primary btn-lg col-xs-offset-4 col-xs-4">Ask Me</button>#}
            <br/><br/><br/>
        </div>

        <div class="row answerSentenceContainer" style="border-style: none">
            <div class="container col-xs-12">
                 <h4>Answers</h4>
            </div>
            <div class="container col-xs-12 col-md-12 answerContainer ex-answerContainer">
                <p><b class="answerNum">Answer #0:</b></p>
                <textarea class="form-control text-area "
                          rows="3"></textarea>
            </div>
        </div>
        <div class="row answerResultButtonContainer">
            <div class="col-xs-4 col-xs-offset-4"><button id="btnInquireClear2"  class="btn btn-primary btn-lg col-xs-12">Clear</button></div>
            <br/><br/>
        </div>

        <!--div class="row">
            <button id="btnConvertInquire" class="btn btn-primary btn-lg col-xs-offset-4 col-xs-4">Convert to Tokens and Tags</button>
        </div>
        <div><br/><br/></div-->
    </div>

    <div class="row row-boxed" id="clusterForm" style="border-top-style: none">
        <div class="row clustersContainer">
            <div class="container col-xs-12">
                <h4>Clusters</h4>
            </div>
            <div class="clusters ex-clusters container col-xs-12">
                <p><b class="clusterNum">Cluster #0 </b></p>
                <table class="table table-bordered clusterTable">
                    <thead>
                    <tr>
                        <th style="width: 10%;">ID</th>
                        <th style="width: 90%;">Sentence</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="ex-tr">
                        <td class="td-form"><input type="number" class="inputSentId" disabled /></td>
                        <td class="td-form"><input type="text" class="inputSentence" disabled /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="alertModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="alertModalTitle" class="modal-title">Modal title</h4>
            </div>
                <div class="modal-body">
                <p id="alertModalMsg">One fine body&hellip;</p>
            </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- scripts -->
<script src="{% static "lib/jquery/jquery-2.2.0.min.js" %}"></script>
<script src="{% static "lib/bootstrap-origin/js/bootstrap.min.js" %}"></script>
<script src="{% static "lib/jquery/plugins/loadingoverlay.min.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static "lib/bootstrap-origin/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>




</body>
</html>



{#                                <td class="td-form"><select class="selectTag" disabled >#}
{#                                    <option >CC</option>#}
{#                                    <option >CD</option>#}
{#                                    <option >DT</option>#}
{#                                    <option >EX</option>#}
{#                                    <option >FW</option>#}
{#                                    <option >IN</option>#}
{#                                    <option >JJ</option>#}
{#                                    <option >JJR</option>#}
{#                                    <option >JJS</option>#}
{#                                    <option >LS</option>#}
{#                                    <option >MD</option>#}
{#                                    <option >NN</option>#}
{#                                    <option >NNS</option>#}
{#                                    <option >NNP</option>#}
{#                                    <option >NNPS</option>#}
{#                                    <option >PDT</option>#}
{#                                    <option >POS</option>#}
{#                                    <option >PRP</option>#}
{#                                    <option >PRP$</option>#}
{#                                    <option >RB</option>#}
{#                                    <option >RBR</option>#}
{#                                    <option >RBS</option>#}
{#                                    <option >RP</option>#}
{#                                    <option >SYM</option>#}
{#                                    <option >TO</option>#}
{#                                    <option >UH</option>#}
{#                                    <option >VB</option>#}
{#                                    <option >VBD</option>#}
{#                                    <option >VBG</option>#}
{#                                    <option >VBN</option>#}
{#                                    <option >VBP</option>#}
{#                                    <option >VBZ</option>#}
{#                                    <option >WDT</option>#}
{#                                    <option >WP</option>#}
{#                                    <option >WP$</option>#}
{#                                    <option >WRB</option>#}
{#                                    <option >$</option>#}
{#                                    <option >#</option>#}
{#                                    <option >“</option>#}
{#                                    <option >”</option>#}
{#                                    <!--option >"</option-->#}
{#                                    <option >(</option>#}
{#                                    <option >)</option>#}
{#                                    <option >,</option>#}
{#                                    <option >.</option>#}
{#                                    <option >:</option>#}
{#                                </select></td>#}


{#                                    <option></option>#}
{#                                    <option >nsubj</option>#}
{#                                    <option >dep</option>#}
{#                                    <option >aux</option>#}
{#                                    <option >auxpass</option>#}
{#                                    <option >cop</option>#}
{#                                    <option >arg</option>#}
{#                                    <option >agent</option>#}
{#                                    <option >comp</option>#}
{#                                    <option >acomp</option>#}
{#                                    <option >ccomp</option>#}
{#                                    <option >xcomp</option>#}
{#                                    <option >obj</option>#}
{#                                    <option >dobj</option>#}
{#                                    <option >iobj</option>#}
{#                                    <option >pobj</option>#}
{#                                    <option >subj</option>#}
{#                                    <option >nsubj</option>#}
{#                                    <option >nsubjpass</option>#}
{#                                    <option >csubj</option>#}
{#                                    <option >csubjpass</option>#}
{#                                    <option >cc</option>#}
{#                                    <option >conj</option>#}
{#                                    <option >expl</option>#}
{#                                    <option >mod</option>#}
{#                                    <option >amod</option>#}
{#                                    <option >appos</option>#}
{#                                    <option >advcl</option>#}
{#                                    <option >det</option>#}
{#                                    <option >predet</option>#}
{#                                    <option >preconj</option>#}
{#                                    <option >vmod</option>#}
{#                                    <option >mwe</option>#}
{#                                    <option >mark</option>#}
{#                                    <option >advmod</option>#}
{#                                    <option >neg</option>#}
{#                                    <option >rcmod</option>#}
{#                                    <option >quantmod</option>#}
{#                                    <option >nn</option>#}
{#                                    <option >npadvmod</option>#}
{#                                    <option >tmod</option>#}
{#                                    <option >num</option>#}
{#                                    <option >number</option>#}
{#                                    <option >prep</option>#}
{#                                    <option >poss</option>#}
{#                                    <option >possessive</option>#}
{#                                    <option >prt</option>#}
{#                                    <option >parataxis</option>#}
{#                                    <option >goeswith</option>#}
{#                                    <option >punct</option>#}
{#                                    <option >ref</option>#}
{#                                    <option >sdep</option>#}
{#                                    <option >xsubj</option>#}