{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="template of MIAAS">
    <meta name="author" content="Hanter Jung">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap/css/bootstrap.css' %}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'lib/bootstrap-origin/assets/css/ie10-viewport-bug-workaround.css' %}">

    <script src="{% static 'lib/bootstrap-origin/assets/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container page-container">
    <div class="row no-mag-bot no-mag-top">
        <h2 class="h2-title col-xs-12 page-title no-mag-bot" style="text-align: center;">Welcome to <strong>Intelligent eManual System</strong></h2>
        <h4 class="h4-title col-xs-12 no-mag-top no-mag-bot" style="text-align: right;"><i>Proof-of-Concept Implementation</i></h4>
    </div>
    <div class="row row-menu">
        <div class="col-xs-12">
            <div class="col-xs-12 col-md-4 intro-column">
                <button class="btn btn-lg btn-menu col-xs-12" id="btnConvertMenu" type="button" onclick="showConvert()">CONVERT</button>
                <p class="col-xs-12">Convert user manual into<br/>SCDL-NL-2 sentences</p>
            </div>

            <div class="col-xs-12 col-md-4 intro-column">
                <button class="btn btn-lg btn-menu col-xs-12" id="btnInquireMenu" type="button" onclick="showInquire()">ASK ME</button>
                <p class="col-xs-12">Construct and Process SQL Query</p>
            </div>

            <div class="col-xs-12 col-md-4 intro-column">
                <button class="btn btn-lg btn-menu col-xs-12" id="btnDBMenu" type="button" onclick="showDB()">DB Insight</button>
                <p class="col-xs-12">Show the database insight</p>
            </div>
        </div>
    </div>

    <div class="row " id="convertForm" style="border-top-style: none">
        <div class="row" style="border-style: none">
            <div class="container container-sent-input col-xs-12">
                <h4>Enter Sentence</h4>
                <textarea class="form-control text-area" id="inputOriginSentences" name="inputOriginSentences"
                          placeholder="ex) The vehicle has an electronic key release system. This system is to prevent ignition key removal."
                          rows="4" ></textarea>
                <div class="container-sent-input-section">
                    <input id="inputSection" type="text" placeholder="ex) 3.2"
                           class="form-control form-control-inline" style="width: 120px;" />
                    <div class="input-label" >Section #</div>
                </div>
            </div>
        </div>
        <div class="row convertBtnDiv buttonsDiv">
            <div class="col-xs-offset-3 col-xs-3">
                <button id="btnConvert" class="btn btn-primary btn-lg col-xs-12">Analyze</button>
            </div>
            <div class="col-xs-3">
                <button id="btnConvertCancel" class="btn btn-info btn-lg col-xs-12">Cancel</button>
            </div>
        </div>

        <div class="row convertedSentencesRow">
            <div class="container convertedSentencesContainer col-xs-12">
                <h4>Result of Sentence Analysis</h4>
                <div class="convertedSentencesDiv col-xs-12">
                    <div class="convertedSentences ex-convertedSentences">
                        <p class="tokensHeader"><b class="sentenceNum">Sentence #0: </b><span class="sentenceText">The vehicle has an electronic key release system. This system is to prevent ignition key removal.</span>&nbsp;&nbsp;<!--button class="btn btn-danger btn-sm">Delete</button--></p>
                        <div class="tokenContainer row">
                            <div class="ex-token tokenDiv">
                                <table class="tokenTable">
                                    <thead>
                                    <tr>
        {#                                <th class="td-form" colspan="2"><input type="text" class="inputToken" disabled /></th>#}
                                        <th class="td-form" colspan="2"><span class="inputToken"></span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="td-form"><select class="selectTag" disabled >
                                            <option >ADJP</option>
                                            <option >ADVP</option>
                                            <option >CONJP</option>
                                            <option >FRAG</option>
                                            <option >INTJ</option>
                                            <option >LST</option>
                                            <option >NAC</option>
                                            <option >NP</option>
                                            <option >NX</option>
                                            <option >PP</option>
                                            <option >PRN</option>
                                            <option >QP</option>
                                            <option >RRC</option>
                                            <option >UCP</option>
                                            <option >VP</option>
                                            <option >WHADJP</option>
                                            <option >WHAVP</option>
                                            <option >WHNP</option>
                                            <option >WHPP</option>
                                            <option >X</option>

                                            <option >CC</option>
                                            <option >CD</option>
                                            <option >DT</option>
                                            <option >EX</option>
                                            <option >FW</option>
                                            <option >IN</option>
                                            <option >JJ</option>
                                            <option >JJR</option>
                                            <option >JJS</option>
                                            <option >LS</option>
                                            <option >MD</option>
                                            <option >NN</option>
                                            <option >NNS</option>
                                            <option >NNP</option>
                                            <option >NNPS</option>
                                            <option >PDT</option>
                                            <option >POS</option>
                                            <option >PRP</option>
                                            <option >PRP$</option>
                                            <option >RB</option>
                                            <option >RBR</option>
                                            <option >RBS</option>
                                            <option >RP</option>
                                            <option >SYM</option>
                                            <option >TO</option>
                                            <option >UH</option>
                                            <option >VB</option>
                                            <option >VBD</option>
                                            <option >VBG</option>
                                            <option >VBN</option>
                                            <option >VBP</option>
                                            <option >VBZ</option>
                                            <option >WDT</option>
                                            <option >WP</option>
                                            <option >WP$</option>
                                            <option >WRB</option>
                                            <option >$</option>
                                            <option >#</option>
                                            <option >“</option>
                                            <option >”</option>
                                            <!--option >"</option-->
                                            <option >(</option>
                                            <option >)</option>
                                            <option >,</option>
                                            <option >.</option>
                                            <option >:</option>
                                        </select></td>
                                        <td class="td-form"><select class="selectElem" disabled >
                                            <option >root</option>
                                            <option >nsubj</option>
                                            <option >dep</option>
                                            <option >aux</option>
                                            <option >auxpass</option>
                                            <option >cop</option>
                                            <option >arg</option>
                                            <option >agent</option>
                                            <option >comp</option>
                                            <option >acomp</option>
                                            <option >ccomp</option>
                                            <option >xcomp</option>
                                            <option >obj</option>
                                            <option >dobj</option>
                                            <option >iobj</option>
                                            <option >pobj</option>
                                            <option >subj</option>
                                            <option >nsubj</option>
                                            <option >nsubjpass</option>
                                            <option >csubj</option>
                                            <option >csubjpass</option>
                                            <option >cc</option>
                                            <option >conj</option>
                                            <option >expl</option>
                                            <option >mod</option>
                                            <option >amod</option>
                                            <option >appos</option>
                                            <option >advcl</option>
                                            <option >det</option>
                                            <option >predet</option>
                                            <option >preconj</option>
                                            <option >vmod</option>
                                            <option >mwe</option>
                                            <option >mark</option>
                                            <option >advmod</option>
                                            <option >neg</option>
                                            <option >rcmod</option>
                                            <option >quantmod</option>
                                            <option >nn</option>
                                            <option >npadvmod</option>
                                            <option >tmod</option>
                                            <option >num</option>
                                            <option >number</option>
                                            <option >prep</option>
                                            <option >poss</option>
                                            <option >possessive</option>
                                            <option >prt</option>
                                            <option >parataxis</option>
                                            <option >goeswith</option>
                                            <option >punct</option>
                                            <option >ref</option>
                                            <option >sdep</option>
                                            <option >xsubj</option>
                                        </select></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container relationPronounContainer col-xs-12">
                <h4>Specify Pronoun Dependency</h4>
                <div class="relationPronounDiv col-xs-12">
                    <div class="relationPronoun ex-relationPronoun">
                        <p><b class="relationHeader">Dependency #1</b>
                        &nbsp;&nbsp;&nbsp;<span class="removeRelation glyphicon glyphicon-remove" aria-hidden="true"></span></p>
                        <div class="relationContainer row">
                            <div class="col-xs-6">
                                <label>Element From</label>
                                <div class="form-inline">
                                    <label>&nbsp;- Sentence #:</label>
                                    <select class="form-control relationSentence fromRelationSentence">
                                    </select>
                                </div>
                                <div class="form-inline">
                                    <label>&nbsp;- Element:</label>
                                    <select class="form-control relationElement fromRelationElement">
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <label>Element To</label>
                                <div class="form-inline">
                                    <label>&nbsp;- Sentence #:</label>
                                    <select class="form-control relationSentence toRelationSentence">
                                    </select>
                                </div>
                                <div class="form-inline">
                                    <label>&nbsp;- Element:</label>
                                    <select class="form-control relationElement toRelationElement">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="relationPronounButton">
                        <button id="btnRelationAdd" class="btn">Add New Dependency</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="convertQueryButtonContainer" class="row buttonsDiv acceptBtnsDiv convertQueryButtonContainer">
            <div class="col-xs-3">
                <button id="btnQueryRefine" class="btn btn-primary btn-lg col-xs-12">Refine</button>
            </div>
            <div class="col-xs-3">
                <button id="btnQueryAccept" class="btn btn-info btn-lg col-xs-12">Accept</button>
            </div>
            <div class="col-xs-3">
                <button id="btnQueryClear" class="btn btn-info btn-lg col-xs-12">Cancel</button>
            </div>
        </div>
    </div>

    <div class="row " id="inquireForm" style="border-top-style: none">
        <div class="row" style="border-style: none">
            <div class="inquireSQLContainer container container-sent-input col-xs-12">
                <h4 class="inquireSQLTab selected" id="btnTypeSQL" onclick="setInquiryTypeSQL();">Type SQL Query</h4>
                <h4 class="inquireSQLTab" id="btnSelectSQL" onclick="setInquirySelectSQL();">Select Query</h4>
                <textarea class="form-control text-area" id="inputSQLQuery" name="inputSQLQuery"
                          placeholder="ex) SELECT * FROM ConvertedSentence WHERE (root='is' AND mark='to') OR root='has';"
                          rows="4" ></textarea>
                <div class="inquireSQLDiv col-xs-12" id="inquirySelectSQL" style="display: none;">
                    <div class="inquireSQL form-inline row" id="inquireSQL">
{#                        <div class="inquireSQLElem inquireSQLElemGroup">#}
{#                            <div class="inquireSQLBracket inquireSQLBracket-left">(</div>#}
{##}
{#                            <div class="inquireSQLElem inquireSQLNode ex ex-inquireSQLNode">#}
{#                                <input type="text" class="form-control" size="20">#}
{#                                <select class="form-control">#}
{#                                    <option value="" selected disabled >-</option>#}
{#                                    <option >Subject</option>#}
{#                                    <option >Verb</option>#}
{#                                    <option >Object</option>#}
{#                                    <option >Complement</option>#}
{#                                    <option >Adverb</option>#}
{#                                    <option >Auxiliary Verb</option>#}
{#                                </select>#}
{#                                <span class="removeElem glyphicon glyphicon-remove" aria-hidden="true"></span>#}
{#                            </div>#}
{##}
{#                            <div class="inquireSQLElem inquireSQLOperator">OR</div>#}
{##}
{#                            <div class="inquireSQLElem inquireSQLNode ex ex-inquireSQLNode">#}
{#                                <input type="text" class="form-control" size="20">#}
{#                                <select class="form-control">#}
{#                                    <option value="" selected disabled >-</option>#}
{#                                    <option >Subject</option>#}
{#                                    <option >Verb</option>#}
{#                                    <option >Object</option>#}
{#                                    <option >Complement</option>#}
{#                                    <option >Adverb</option>#}
{#                                    <option >Auxiliary Verb</option>#}
{#                                </select>#}
{#                                <span class="removeElem glyphicon glyphicon-remove" aria-hidden="true"></span>#}
{#                            </div>#}
{##}
{#                            <div class="addElem dropdown ex-addElem ex">#}
{#                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{#                                    Add <span class="caret"></span>#}
{#                                </button>#}
{#                                <ul class="dropdown-menu">#}
{#                                    <li><a href="#">AND</a></li>#}
{#                                    <li><a href="#">OR</a></li>#}
{#                                    <li role="separator" class="divider"></li>#}
{#                                    <li><a href="#">Bracket</a></li>#}
{#                                </ul>#}
{#                            </div>#}
{##}
{#                            <div class="inquireSQLBracket inquireSQLBracket-right">)</div>#}
{#                        </div>#}

{#                        <div class="inquireSQLElem inquireSQLOperator">AND</div>#}

                        <div class="inquireSQLElem inquireSQLNode ex ex-inquireSQLNode">
                            <input type="text" class="elemText form-control" size="20">
                            <select class="elemRole form-control">
                                <option value="" selected disabled >-</option>
                                <option >root</option>
                                <option >nsubj</option>
                                <option >dep</option>
                                <option >aux</option>
                                <option >auxpass</option>
                                <option >cop</option>
                                <option >arg</option>
                                <option >agent</option>
                                <option >comp</option>
                                <option >acomp</option>
                                <option >ccomp</option>
                                <option >xcomp</option>
                                <option >obj</option>
                                <option >dobj</option>
                                <option >iobj</option>
                                <option >pobj</option>
                                <option >subj</option>
                                <option >nsubj</option>
                                <option >nsubjpass</option>
                                <option >csubj</option>
                                <option >csubjpass</option>
                                <option >cc</option>
                                <option >conj</option>
                                <option >expl</option>
                                <option >mod</option>
                                <option >amod</option>
                                <option >appos</option>
                                <option >advcl</option>
                                <option >det</option>
                                <option >predet</option>
                                <option >preconj</option>
                                <option >vmod</option>
                                <option >mwe</option>
                                <option >mark</option>
                                <option >advmod</option>
                                <option >neg</option>
                                <option >rcmod</option>
                                <option >quantmod</option>
                                <option >nn</option>
                                <option >npadvmod</option>
                                <option >tmod</option>
                                <option >num</option>
                                <option >number</option>
                                <option >prep</option>
                                <option >poss</option>
                                <option >possessive</option>
                                <option >prt</option>
                                <option >parataxis</option>
                                <option >goeswith</option>
                                <option >punct</option>
                                <option >ref</option>
                                <option >sdep</option>
                                <option >xsubj</option>
                            </select>
                            <span class="removeElem glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </div>

                        <div class="addElem dropdown ex-addElem ex">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                ADD<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" >
                                <li><a href="#" class="addElemElem whenEmpty">Add Element</a></li>
                                <li role="separator" class="divider whenEmpty"></li>
                                <li><a href="#" class="addElemGroup whenEmpty">Add Bracket</a></li>

                                <li><a href="#" class="addElemAndElem whenFill">Add AND Element</a></li>
                                <li><a href="#" class="addElemOrElem whenFill">Add OR Element</a></li>
                                <li role="separator" class="divider whenFill"></li>
                                <li><a href="#" class="addElemAndGroup whenFill">Add AND Bracket</a></li>
                                <li><a href="#" class="addElemOrGroup whenFill">Add OR Bracket</a></li>

                                <li role="separator" class="divider whenParentGroup"></li>
                                <li><a href="#" class="addElemRemoveGroup whenParentGroup">Remove this Bracket</a></li>
                            </ul>
                        </div>

{#                        <div class="col-xs-8">#}
{#                            <label>Noun: </label>#}
{#                            <input type="text" id="inquireSQLNoun" class="form-control" size="30" />#}
{#                            <select id="inquireSQLNounType" class="form-control">#}
{#                                <option>Subject</option>#}
{#                                <option>Object</option>#}
{#                            </select>#}
{#                        </div>#}
{#                        <div class="col-xs-4">#}
{#                            <label>Verb: </label>#}
{#                            <input type="text" id="inquireSQLVerb" class="form-control" />#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>

        <div class="row convertBtnDiv buttonsDiv">
            <div class="col-xs-offset-3 col-xs-3">
                <button id="btnInquire" class="btn btn-primary btn-lg col-xs-12">Answer</button>
            </div>
            <div class="col-xs-3">
                <button id="btnInquireCancel" class="btn btn-info btn-lg col-xs-12">Cancel</button>
            </div>
        </div>

        <div class="row answerSentenceContainer" style="border-style: none">
            <div class="container col-xs-12 col-md-12 answerContainer no-mag-bot">
                <h4 class="answerNum">Answers</h4>
                <div class="answerArea col-xs-12">
                </div>
            </div>
        </div>
        <div class="row typeQueryTableContainer">
            <div class="tableContainer scrollable-x container col-xs-12">
                <table class="table table-bordered dbTable">
                    <thead>
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row buttonsDiv answerResultButtonContainer">
            <div class="col-xs-offset-3 col-xs-6">
                <button id="btnInquireClear" class="btn btn-primary btn-lg col-xs-12">Clear</button>
            </div>
            <br/><br/>
        </div>

    </div>

    <div class="row " id="dbForm" style="border-top-style: none">
        <div class="row dbTableContainer">
            <div class="container col-xs-12">
                <h4>Tables</h4>
                <div class="buttonsTableDiv">
                    <button class="btn btn-dbtable btn-lg" data-tablename="SourceSentence">SourceSentence</button>
                    <button class="btn btn-dbtable btn-lg" data-tablename="ConvertedSentence">ConvertedSentence</button>
{#                    <button class="btn btn-dbtable btn-lg" data-tablename="SentenceElement">SentenceElement</button>#}
{#                    <button class="btn btn-dbtable btn-lg" data-tablename="SentenceSchema">SentenceSchema</button>#}
{#                    <button class="btn btn-dbtable btn-lg" data-tablename="Dependency">Dependency</button>#}
                    <button class="btn btn-dbtable btn-lg" data-tablename="PronounDependency">PronounDependency</button>
                </div>
            </div>
            <div class="tableContainer scrollable-x container col-xs-12">
                <table class="table table-bordered dbTable">
                    <thead>
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div id="alertModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="alertModalTitle" class="modal-title">Modal title</h4>
            </div>
                <div class="modal-body">
                <p id="alertModalMsg">One fine body&hellip;</p>
            </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- scripts -->
<script src="{% static "lib/jquery/jquery-2.2.0.min.js" %}"></script>
<script src="{% static "lib/bootstrap-origin/js/bootstrap.min.js" %}"></script>
<script src="{% static "lib/jquery/plugins/loadingoverlay.min.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static "lib/bootstrap-origin/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>


</body>
</html>



{#                                <td class="td-form"><select class="selectTag" disabled >#}
{#                                    <option >CC</option>#}
{#                                    <option >CD</option>#}
{#                                    <option >DT</option>#}
{#                                    <option >EX</option>#}
{#                                    <option >FW</option>#}
{#                                    <option >IN</option>#}
{#                                    <option >JJ</option>#}
{#                                    <option >JJR</option>#}
{#                                    <option >JJS</option>#}
{#                                    <option >LS</option>#}
{#                                    <option >MD</option>#}
{#                                    <option >NN</option>#}
{#                                    <option >NNS</option>#}
{#                                    <option >NNP</option>#}
{#                                    <option >NNPS</option>#}
{#                                    <option >PDT</option>#}
{#                                    <option >POS</option>#}
{#                                    <option >PRP</option>#}
{#                                    <option >PRP$</option>#}
{#                                    <option >RB</option>#}
{#                                    <option >RBR</option>#}
{#                                    <option >RBS</option>#}
{#                                    <option >RP</option>#}
{#                                    <option >SYM</option>#}
{#                                    <option >TO</option>#}
{#                                    <option >UH</option>#}
{#                                    <option >VB</option>#}
{#                                    <option >VBD</option>#}
{#                                    <option >VBG</option>#}
{#                                    <option >VBN</option>#}
{#                                    <option >VBP</option>#}
{#                                    <option >VBZ</option>#}
{#                                    <option >WDT</option>#}
{#                                    <option >WP</option>#}
{#                                    <option >WP$</option>#}
{#                                    <option >WRB</option>#}
{#                                    <option >$</option>#}
{#                                    <option >#</option>#}
{#                                    <option >“</option>#}
{#                                    <option >”</option>#}
{#                                    <!--option >"</option-->#}
{#                                    <option >(</option>#}
{#                                    <option >)</option>#}
{#                                    <option >,</option>#}
{#                                    <option >.</option>#}
{#                                    <option >:</option>#}
{#                                </select></td>#}


{#                                    <option></option>#}
{#                                    <option >nsubj</option>#}
{#                                    <option >dep</option>#}
{#                                    <option >aux</option>#}
{#                                    <option >auxpass</option>#}
{#                                    <option >cop</option>#}
{#                                    <option >arg</option>#}
{#                                    <option >agent</option>#}
{#                                    <option >comp</option>#}
{#                                    <option >acomp</option>#}
{#                                    <option >ccomp</option>#}
{#                                    <option >xcomp</option>#}
{#                                    <option >obj</option>#}
{#                                    <option >dobj</option>#}
{#                                    <option >iobj</option>#}
{#                                    <option >pobj</option>#}
{#                                    <option >subj</option>#}
{#                                    <option >nsubj</option>#}
{#                                    <option >nsubjpass</option>#}
{#                                    <option >csubj</option>#}
{#                                    <option >csubjpass</option>#}
{#                                    <option >cc</option>#}
{#                                    <option >conj</option>#}
{#                                    <option >expl</option>#}
{#                                    <option >mod</option>#}
{#                                    <option >amod</option>#}
{#                                    <option >appos</option>#}
{#                                    <option >advcl</option>#}
{#                                    <option >det</option>#}
{#                                    <option >predet</option>#}
{#                                    <option >preconj</option>#}
{#                                    <option >vmod</option>#}
{#                                    <option >mwe</option>#}
{#                                    <option >mark</option>#}
{#                                    <option >advmod</option>#}
{#                                    <option >neg</option>#}
{#                                    <option >rcmod</option>#}
{#                                    <option >quantmod</option>#}
{#                                    <option >nn</option>#}
{#                                    <option >npadvmod</option>#}
{#                                    <option >tmod</option>#}
{#                                    <option >num</option>#}
{#                                    <option >number</option>#}
{#                                    <option >prep</option>#}
{#                                    <option >poss</option>#}
{#                                    <option >possessive</option>#}
{#                                    <option >prt</option>#}
{#                                    <option >parataxis</option>#}
{#                                    <option >goeswith</option>#}
{#                                    <option >punct</option>#}
{#                                    <option >ref</option>#}
{#                                    <option >sdep</option>#}
{#                                    <option >xsubj</option>#}